<%- include("partials/header.ejs") %>

<div class="bg-#EBD9B4 min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="max-w-md w-full mx-auto relative bg-#EBD9B4">

    <!--Beer Animation -->

    
    <!-- Title -->
    <h1 class="text-3xl font-bold text-center mb-8">Find your perfect Brewdog <i class="fa-solid fa-beer-mug-empty"></i></h1>

    <!-- Search by name -->
    <form action="/search-by-name" method="POST" class="mb-4">
      <div class="flex items-center border-b border-gray-300 py-2">
        <input type="text" placeholder="Search beers by name" name="search" value="" class="input input-bordered flex-1 mr-4">
        <button type="submit" class="btn btn-outline" id="blue">Search</button>
      </div>
    </form>
     <!-- Search by food -->
    <form action="/search-by-food" method="POST" class="mb-4">
      <div class="flex items-center border-b bg-#638889 border-gray-300 py-2">
        <input type="text" placeholder="Search Food Pairings" name="search" value="" class="input input-bordered flex-1 mr-4">
        <button type="submit" class="btn btn-outline" id="blue">Search</button>
      </div>
    </form>
     <!-- search by year -->
    <form action="/search-by-year" method="POST" class="mb-4">
      <div class="flex items-center border-b border-gray-300 py-2">
        <select name="year" class="select select-bordered flex-1 mr-4">
          <option disabled selected data-display="Select">Search beers by year</option>
          <option value="2008">2008</option>
          <option value="2009">2009</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
        </select>
        <button type="submit" class="btn btn-outline" id="blue">Search</button>
      </div>
    </form>

    <!-- Random beer button -->
    <div class="flex justify-center">
      <a href="/random" class="btn btn-outline" id="blue">Random Beer</a>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
