<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick a Beer</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.1/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="navbar-start">
        </div>
        <div class="navbar-center">
          <a class="btn btn-ghost text-xl">Pick a Brew Dog </a>
        </div>
        <div class="navbar-end">
        </div>
      </div>

    <div class="text-xl underline"><%= name.name %></div>
</body>
<script src="https://cdn.tailwindcss.com"></script>
</html>