<p id="titles" class="absolute bottom-0 left-0 text-xl ml-2">Website by Matt Mc Daid</p>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://kit.fontawesome.com/602c42d7e5.js" crossorigin="anonymous"></script>
</body>
</html>